<div>
    <div class="left-nav">
        <div class="left-nav-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <span class="ic-radio-unchecked icon icon-green mr-10"></span>
                <h5 class="fw-bold">HubSpot</h5>
            </div>
            <span class="icon ic-arrow-left2 cursor-pointer"></span>
        </div>
        <div class="border-bottom mt-20 border-light mb-10 opacity-2"></div>
        <div class="input-search-bar mb-10">
            <span class="icon ic-search"></span>
            <input type="text" class="search-bar w-100 search-bar-l search-bar-dark" placeholder="Search">
        </div>
        <ul class="left-nav-body">
            <li routerLinkActive="active">
                <div class="d-flex align-items-center">
                    <span class="icon ic-home mr-15"></span>
                    <a routerLink="dashboard">Dashboard</a>
                </div>
            </li>
            <li routerLinkActive="active">
                <div class="d-flex align-items-center">
                    <span class="icon ic-file-text2 mr-15"></span>
                    <a routerLink="posts">Posts</a>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center">
                    <span class="icon ic-images mr-15"></span>
                    <a>Media</a>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center">
                    <span class="icon ic-heart mr-15"></span>
                    <a>Favourites</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="bottom-nav">
    <div class="d-flex align-items-center justify-content-between">
        <span class="icon ic-home" routerLink="dashboard"></span>
        <span class="icon ic-file-text2" routerLink="posts"></span>
        <span class="icon ic-images"></span>
        <span class="icon ic-heart"></span>
    </div>
</div>