* {
  margin: 0;
}
.main-container {
    position: relative;
    min-height: 100vh;    
    .navbar {
        margin-left: 250px;
    }
}

.app-container {
    margin-left: 250px;
}

.page-container {
    padding: 40px 60px;
    min-height: calc(100vh - 69px);
    .text-normal {
        color: white;
    }
}

p,
h5,
h3,
h4,
h6 {
  margin: 0;
  padding: 0;
  &.text-normal {
    color: white !important;
  }
}

.icon {
  &.icon-green {
    color: #6EEB83;
  }
}

.opacity-2 {
  opacity: .2;
}

.cursor-pointer {
  cursor: pointer;
}

.left-nav {
  position: fixed;
  top: 0;
  background-color: #171918;
  width: 250px;
  height: 100%;
  padding: 50px 20px 0 20px;
  color: aliceblue;
  border-right: 3px solid #6EEB83;

  .left-nav-header {
    color: #6EEB83;
  }

  ul {
    list-style-type: none;
    padding: 0;

    &.left-nav-body {
      li {
        padding: 10px;
        color: #969998;
        cursor: pointer;

        a {
          text-decoration: inherit;
          color: inherit;
        }

        &.active {
          color: white;
          font-size: 18px;
          font-weight: 500;
          pointer-events: none;
        }

        .icon {
          color: #6EEB83;
        }
      }
    }
  }
}

.input-search-bar {
  position: relative;

  .icon {
    position: absolute;
    top: 13px;
    color: #7F8080;
    left: 8px;
  }

  input {
    border: 0;
    text-indent: 30px;

    &.search-bar {
      border-radius: 8px;
    }

    &.search-bar-dark {
      background-color: #3A3B3B;
      caret-color: white;
      color: white;
    }

    &.search-bar-l {
      height: 40px;
    }

    &:focus {
      border: 0;
    }

    &:focus-visible {
      outline: 0;
    }

  }
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &.avatar-sm{
      width: 30px;
      height: 30px; 
    }
}

$spaceamounts: (4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

$sizes: () !default;
$sizes: map-merge((
    25px: 25px,
    50px: 50px,
    75px: 75px,
    150: 150px,
    100px: 100px,
    200: 200px,
    250: 250px,
    300: 300px,
    400: 400px,
    500: 500px,
    600: 600px,
    700: 700px,
    auto: auto),
  $sizes);

@each $prop,
$abbrev in (width: w, height: h) {

  @each $size,
  $length in $sizes {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
  }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

  &.dot-xs {
    height: 12px;
    width: 12px;
  }
}

.height-50 {
    height: 50px;
}

input[type=text] {
    &.form-control {
    border-radius: 0;
        &:focus-visible {
            outline: none;
        }
        &:focus {
            border: 0;
            box-shadow: none;
            border: 1px solid #dee2e6;
        }
        &.input-bg-dark {
            background-color: #3A3B3B;
            caret-color: white;
            color: white;

            &:focus {
                border: 1px solid #6EEB83;
            }
        }
        &::placeholder {
            color: #7F8080;
        }
    }
}

.bg-dark-new {
    textarea {
        background-color: #3A3B3B;
        caret-color: white;
        color: white;
        resize: none;
        &.border-color-neon {
            &.form-control {
                &:focus {
                    box-shadow: none;
                    border: 1px solid #6EEB83;
                    background-color: #3A3B3B;
                    color: white;
                }
            }
        }

        &:focus-visible {
          outline: 0;
        }

        &::placeholder {
            color: #7F8080;
        }
    }
}

.navbar {
    background-color: #171918;
    border-bottom: 3px solid #6EEB83;
    a {
        &.navbar-brand {
            color: #6EEB83;
            font-weight: 500;
        }
    }
}

.border-color-neon {
    border: 1px solid #6EEB83;
}

.bg-dark-new {
    background-color: #171918 !important;
}

.text-neon {
    color: #6EEB83;
}

.tramsform-90-negative {
    transform: rotate(-90deg);
}

.text-align-end {
    text-align: end;
}

button {
    &.btn {
        padding: 8px 28px;
        &.btn-no-border {
            border-radius: 0;
        }
        &.btn-success {
            background-color: #6EEB83;
            color: #171918;
            font-weight: 600;
            &:active {
                color: #171918 !important;
            }
        }
        &.btn-rounded {
          padding: 8px;
        }
    }
}

.btn-group {
    border-radius: 0;
    button {
        border-radius: 0;
        &:active {
            color: #171918 !important;
        }
    }
}

.dropdown-menu {
    background-color: whitesmoke;
    border-radius: 0;
    .dropdown-item {
    cursor: pointer;
        &:active,&:focus {
            background-color: whitesmoke;
            color: black
        }
    }
}

.batch-tag {
    color: #6EEB83;
    border: 1px solid #6EEB83;
    padding: 2px 12px;
    border-radius: 10px;
}

.border-dashed-neon {
    border: 1px dashed #6EEB83;
}

.clear-padding {
    padding: 0 !important;
}

.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.first-letter {
  &::first-letter {
    font-size: 250%;
  }
}

.text-truncate-7 {
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.pill {
  &.bottom-pill {
    width: 190px;
    height: 50px;
    border-radius: 25px;
    background-color: #dee2e6;
  }
}

.like-btn {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.like-btn {
  background: url('https://i.ibb.co/vw78mf3/heart.png') no-repeat 0% 50%;
  background-size: 2900%;
}

.like-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.like-active {
  animation-timing-function: steps(28);
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.border-right {
    border-right: 1px solid black;
}

.border-red {
  border-color: #d92e66;
}

.icon-red {
  color: #d92e66;
}

.fixed-pill {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-dialog {
  &.right-modal-400 {
    width: 400px;
    transform: translate(0,0) !important;
    min-width: 400px;
    position: relative;
    height: calc(100vh);
    float: right;
    margin: 0;

    .modal-content {
      min-height: 100%;
      border-radius: 0;

      .modal-header {
        border-radius: 0;
      }

      .modal-body {
        height: 100vh;
      }
    }
  }
}

.box-shadow {
  box-shadow: rgb(255 255 255 / 12%) 0px 2px 8px;
}

.p-20 {
  padding: 20px;
}

.bg-svg {
  background-color: #171918;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.bottom-nav {
  display: none;
  width: 350px;
  border: 3px solid #6EEB83;
  position: fixed;
  bottom: 15px;
  left: 50%;
  background-color: #171918;
  transform: translate(-50%, -10%);
  padding: 20px 40px;
  color: #6EEB83;

  .icon {
    width: 28px;
    height: 28px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .left-nav {
    display: none;
  }
  .app-container {
    margin-left: 0;
  }

  .main-container {
    .navbar {
      margin-left: 0;
    }
  }
  .search-bar {
    width: 150px !important;
  }

  .bottom-nav {
    display: block;
  }

  .modal-header,.modal-body {
      margin-left: 20px;
  }
}

.text-sm {
  font-size: 11px;
}

.icon {
  &.icon-grey {
    color: #a2a9b4;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

#toasts {
    position: fixed;
    top: 65px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notificationService {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 5px #00000033;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  color: wheat;
  overflow: hidden;
  margin: 10px;
  animation: show_toast 0.3s ease forwards;
}

.notificationService {
  &.success {
    border: 1px solid #3fbd637c;
    background-color: #3fbd632d;
  }
}

@keyframes show_toast {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-5%);
	}
	80% {
		transform: translateX(5%);
	}
	100% {
		transform: translateX(0%);
	}
}